.ui-bar-f {
    color: red;
    background-color: yellow;
}

.ui-body-f {
    font-weight: bold;
    color: white;
    background-color: purple;
}

.ui-page-theme-f {
    font-weight: bold;
    background-color: green;
}

.imgStyle {
	height:70px;
	width:70px;
	padding:5px 0 30px 10px;
}

.h2 .p { 
font-family: 'Merriweather', serif;
}

.ui-icon-myicon:after {
	/*background-image: url("https://png.icons8.com/material/24/ffffff/menu.png");*/
	background-image: url("icons8-menu-24-white.png");
}

/* Fallback */
.ui-nosvg .ui-icon-myicon:after {
	background-image: url("icons8-menu-48.png");
}